<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.tavsan.camcord</string>
	<key>CFBundleName</key>
	<string>Camcord</string>
	<key>CFBundleDisplayName</key>
	<string>Camcord</string>
	<key>CFBundleExecutable</key>
	<string>Camcord</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.2</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Camcord records the microphone when you include it in a screen recording.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Camcord captures the screen to take screenshots and recordings you trigger.</string>
</dict>
</plist>
